@import '~src/definitions';

div.home {
    display: flex;
    flex-flow: column nowrap;
    max-width: unset;
    margin: 0;

    > section {
        display: flex;
        flex-flow: column;
        align-items: center;

        padding: @spacing-y @spacing-x;

        &.hero {
            padding-left: 0;
            padding-right: 0;

            > .logo {
                @height-logo: 66vh;

                height: @height-logo;
                width: 100%;

                background-repeat: no-repeat;
                background-size: auto @height-logo;
                background-position: center;
                background-image: url('/images/logo.svg');
            }
        }

        > * {
            max-width: @width-container-max;
        }

        &:nth-child(odd) {
            background-color: @color-primary;
            color: @color-text-bg-primary;
        }
    }
}

