@import '~src/definitions';

.scaleInput {
    overflow-x: auto;

    > table {
        width: 100%;
        border: none;
        border-spacing: 0;
        table-layout: fixed;

        .media-screen-md({
            table-layout: unset;
        });

        tr {
            position: relative;
            height: 100%;

            .text {
                padding: @spacing-y @spacing-x;
            }

            > th, > td {
                height: 100%;
                text-align: center;
            }

            > td > label {
                display: flex;
                justify-content: center;

                height: 100%;

                > .text {
                    white-space: nowrap;
                    min-width: 4 * @spacing-x;

                    transition-property: color, background-color;
                    transition-duration: @duration-transition;
                }

                &:hover, &:focus, &:active, &.checked {
                    > .text {
                        color: @color-bg;
                        background-color: @color-text;
                    }
                }

                > input[type=radio] {
                    display: none;
                }
            }
        }

        tbody > tr:nth-child(odd) {
            background-color: contrast(
                @color-bg,
                darken(@color-bg, 10%),
                lighten(@color-bg, 10%)
            );
        }
    }
}

