@import '~src/definitions';
@import '~vendor/fonts';

a {
    color: @color-primary;
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
    margin: @spacing-y 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

form {
    display: flex;
    flex-flow: column nowrap;

    padding: @spacing-y @spacing-x;
    border: @border;

    > *:not(:last-child) {
        margin-block-end: @spacing-y;
    }
}

input[type=text], input[type=username], input[type=password] {
    padding: @spacing-y @spacing-x;
    background: none;
    border: none;
    border-bottom: @border;
    transition: border @duration-transition;

    &:focus {
        border-bottom: @border-primary;
        border-bottom-width: 1px;
    }
}

select {
    padding: @spacing-y 0;
    background: none;
    border: none;
    border-bottom: @border;
    transition: border @duration-transition;

    &:focus {
        border-bottom: @border-primary;
        border-bottom-width: 1px;
    }
}

button, input[type=submit] {
    background: @color-bg;
    color: @color-text;
    border: @border;
    transition: all @duration-transition;
    line-height: @line-height;

    &:hover {
        background: @color-bg-hover;
        color: @color-text-bg-hover;
    }

    &:focus, &:active {
        background: @color-bg-active;
        color: @color-text-bg-active;
    }
}

input, button {
    &:disabled {
        &, &:hover, &:focus, &:active {
            background: @color-bg-disabled;
            color: @color-text-bg-disabled;
        }
    }
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

:global(#app) {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

    font-family: 'Bree Serif', sans-serif;
    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height;

    background-color: @color-bg;
    color: @color-text;
}

.app {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;

    > main {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        width: 100%;
        max-width: @width-container-max;

        margin: @spacing-y auto;
        padding: 0 @spacing-x;
        box-sizing: border-box;
    }
}

